@model List<Pop.ly.Models.Database.Movie>

<div class="row">
  
        @foreach (var movie in Model)
        {
            <div class="col m-2 p-0" id="browsermovieobj">
                <img src="@movie.CoverArt">
            </div>
        }
 
</div>