
@model Pop.ly.Models.Database.Movie

<a class="MovieCardWrapper" href="/Movie/?T=@Model.Title&Y=@Model.ReleaseYear">
    <div class="SingleMovie" style="background-image: url(@Model.CoverArt)">
        <div class="SingleMovieDetails">
            <h5>@Model.Title</h5>
            <p class="">
                @Model.ReleaseYear
                <div class="MovieRating" data-rating=@Model.Rating>
                    <div class="StarOuter">
                        <div class="StarInner">
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</a>