body {
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.carousel-item img {
    background-color: black;
  object-fit: none;
  object-position: center;
  width: 100%;
  max-height: 500px;
}

.carousel-caption {
    text-shadow: 2px 2px 6px #888888;
}

.MovieRibbon {
    display: flex;
    min-width: 100%;
    min-height: 280px;
}

.RibbonContent {
    margin: 6px;
    max-height: 260px;
    align-self: center;
}

.RibbonContent img {
    max-height: 240px;
}
#promo-carousel img {
    width: 80%;
}

#DetailCover {
    width: 100%;
}

.registration-card {
    background-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    
}

#movie-details {
    /* Handles the gradient over the promo art on the movie details */
    background: radial-gradient(farthest-corner at 40px 40px, rgba(255,255,255,1) 50%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%);
}