body {
    padding-bottom: 20px;
    height: 100%;
    background: linear-gradient(to bottom, #000323 0%,#000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.top-menu {
    background-color: purple;
    background: linear-gradient(to bottom, #1C0025,#28193D );
    border-bottom: 2px solid;
    border-color: goldenrod;
}

.btn.btn-square {
    border-radius: 0;
}

.btn.btn-square-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 460px;
    max-height: 460px;
}

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

.carousel-caption {
    text-shadow: 2px 2px 12px #111111, 2px 2px 24px #999999;
}


#promo-carousel img {
    width: 80%;
}

#MovieDetailsCoverSection button {
    width: 100%;
}

.MovieDetailPromoBackground {
    width: 100%;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: bottom right; 
}

#DetailCover {
    display: inline-flex;
    width: 100%;
}

.registration-card {
    background-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

#movie-details {
    /* Handles the gradient over the promo art on the movie details */
    background: radial-gradient(farthest-corner at 40px 40px, rgba(35,6,43,1) 50%,rgba(35,6,43,0.8) 75%,rgba(255,255,255,0) 100%);
}

.review-section {
    min-width: 100%;
}

#menu-searchbar {
    border-radius: 8rem;
    height: 32px;
}

#browsermovieobj {
    background-color: aquamarine;
}

    #browsermovieobj img {
        max-height: 230px;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C0025;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 1px 4px 26px rgba(0, 0, 0, 1);
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

#TrailerDialog {
    background-color: black;
    box-shadow: 0 0px 0px 1px rgba(218, 165, 32, 0.5), 0 0px 0px 5px rgba(255, 140, 30, 0.125);
}

#TrailerVideo {
    width: 100%;
    height: 480px;
}

#ReviewForm {
    background-color: red;
}

.badge-golden {
    background-color: goldenrod;
    color: white;
    text-decoration: none;
}

    .badge-golden:hover {
        text-decoration: none;
        color: white;
        box-shadow: 0 0px 0px 1px rgba(218, 165, 32, 0.5), 0 0px 0px 5px rgba(255, 140, 30, 0.125);
    }

/* Gradient transparent - color - transparent */

hr.golden-fade-right {
    border: 0;
    height: 2px;
    background-image: linear-gradient(rgba(218, 165, 32, 0.75), rgba(0, 0, 0, 0));
}

#DetailsMovieTitle {
    text-decoration-style: wavy;
    text-decoration-color: white;
}

.MainPageHeader {
    display: flex;
    align-items: center;
    height: 42px;
}

.MainPageHeader h3 {
    margin: 0;
    padding: 0;
    margin-left: 18px;
    padding-left: 8px;
    border-left: 4px solid;
    border-color: goldenrod;
}

/* Owl Carousel stuff*/

.owl-carousel .owl-stage {
    display: flex;
    background: linear-gradient(to bottom, #200021 0%,#1b001c 100%);
    height: 330px;
    align-items: center;
    box-shadow: inset 0px 0px 24px 6px rgba(0,0,0,0.5);
}

.owl-carousel .owl-item img {
    max-height: 260px;
}

.owl-nav {
    display: inline-flex;
}

.owl-prev {
    display: block;
    position: absolute;
    left: 20px;
    top: 35%;
}

.owl-next {
    position: absolute;
    right: 20px;
    top: 35%;
}

    .owl-prev:focus, .owl-next:focus {
        outline: none;
    }

.owl-prev i, .owl-next i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 60px;
        background-color: rgba(40,0,30,0.8);
        border-radius: 80px;
        box-shadow: 0 0px 0px 2px rgba(255, 255, 255, 0.3);
}

    .owl-prev i:hover, .owl-next i:hover {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 60px;
        background-color: rgba(60,0,50,0.9);
        border-radius: 80px;
        box-shadow: 0 0px 0px 1px rgba(218, 165, 32, 0.7), 0 0px 0px 5px rgba(255, 140, 50, 0.225);
     }
    /*Movie Ribbon, mostly not used*/
.MovieRibbon {
    display: flex;
    max-height: 280px;
    overflow: hidden;
}

.MovieRibbonContent {
    margin: 6px;
    max-height: 260px;
    align-self: center;
    z-index: -1;
}

.MovieRibbonContent img {
    max-height: 260px;
}

.MovieRibbonController {
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 260px;
    padding: 20px;
}

.MovieRibbonLeftControl {
    position: absolute;
    left: 0;
}

.MovieRibbonRightControl {
    position: absolute;
    right: 0;
}

.MovieRibbonController i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 80px;
    box-shadow: 0 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.MovieRibbonController i:hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 80px;
    box-shadow: 0 0px 0px 1px rgba(218, 165, 32, 0.7), 0 0px 0px 5px rgba(255, 140, 50, 0.225);
}

.RibbonContent img {
    max-height: 240px;
}

.SingleMovie{
    display: flex;
    width: 160px;
    height: 215px;
    background-position: center;
    background-size:cover;
    text-decoration:none;
    color:white;
    margin: 12px;
    box-shadow: 0 0px 16px 3px rgba(0, 0, 0, 0.5);
}
.SingleMovie:Hover {
    box-shadow: 0 0px 4px 2px rgba(218, 165, 32, 0.9), 0 0px 6px 4px rgba(255, 140, 50, 0.225), 0 0px 16px 20px rgba(0, 0, 0, 0.5);
    text-decoration:none;
    animation: pop 0.3 linear 1;
    transition: all .18s ease-in-out;
    transform:scale(1.2);
    
}

    

.SingleMovieDetails {
    display: none;
    flex-direction: column;
    flex: 1;
    padding: 4px;
    background-color: rgba(30, 0, 12, 0.65);
    top: 0px;
    height: 100%;
    width: 100%;
}