@using Pop.ly.Models;
@using Pop.ly.Models.Database
@model HomeIndexVieWModel

@{
    ViewBag.Title = "Home Page";
}
<div class="container pt-4">
    @Html.Partial("_MoviePromoCarouselPartial", Model.Carousel)
</div>

<h4>Popular</h4>
@Html.Partial("_MovieRibbonPartial", Model.Popular)

<h4>New Releases</h4>
@Html.Partial("_MovieRibbonPartial", Model.RecentlyReleased)