@model Pop.ly.Models.ShoppingCart
@{
    ViewBag.Title = "Your shopping cart";
}

<h2>Your cart</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Controls</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var indx = "CartRow" + @Model.Items.IndexOf(item).ToString();
                var url = "/Movie/?T=" + item.Movie.Title + "&Y=" + item.Movie.ReleaseYear.ToString(); 
                <tr id=@indx>
                    <td><a href=@url>@item.Movie.Title</a></td>
                    <td>@item.Quantity</td>
                    <td>COST</td>
                    <td><button id="AddToCart" type="button" class="btn btn-danger" onclick="RemoveFromCart(@Model.Items.IndexOf(item))"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>